@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Outfit:wght@300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Outfit", sans-serif;
  --font-mono: ui-monospace, monospace;
  
  --color-nexus-black: #000000;
  --color-nexus-gray: #0d0d0f;
  --color-nexus-accent: #ffffff;
}

@layer base {
  body {
    @apply font-sans antialiased bg-[#000000] text-gray-200 selection:bg-white selection:text-black min-h-screen flex flex-col;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-display tracking-tight text-white;
  }
}

@layer utilities {
  .mask-fade {
    mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
  }
}
